<div class="row">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th class="active" width="30%"><%= t "users.name" %></th>
        <td class="text-center active" width="40%">
          <%= link_to user.name, user_path(user) %>
        </td>
        <td class="text-right active">
          <%= link_to t(".edit"), edit_user_path(user) %>
        </td>
      </tr>
    </table>
  </div>
</div>
