<div class="row">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <td class="active" width="30%">
          <%= link_to publisher.name, edit_publisher_url(publisher) %>
        </td>
        <td class="text-center active" width="40%">
          <%= publisher.address %>
        </td>
        <td class="text-right active">
          <%= link_to t(".delete"),
            publisher, method: :delete, data: {confirm: t(".confirm")} %>
        </td>
      </tr>
    </table>
  </div>
</div>
