<div class="row" id="button_follow">
  <% @target = @book.present? ? @book : @author %>
  <% if current_user.follow?(@target) %>
    <%= render partial: "follows/unfollow" %>
  <% else %>
    <%= render partial: "follows/follow" %>
  <% end %>
</div>
