<div class="col-md-2 col-md-offset-10">
  <%= button_to t(".button_follow"), follows_path(target_id: @target.id, target_type: @target.class.name), remote: true, method: :post, class: "btn-primary" %>
</div>
